{% extends "base.html" %}
{% block content %}
  {% if user.tipo_usuario == 'arrendador' %}

  <h2>Tus Inmuebles</h2> 
  <section class="container mx-auto pt-5">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
      {% for inm in inmuebles %}
        <div class="col">
          <div class="card h-100">
              <img class="card-img-top" src="/media/{{inm.imagen}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ inm.name }}</h5>
              <p class="card-text text-justify">
                  {% if inm.descripcion|length > 100 %}
                      {{ inm.descripcion|slice:":100" }}... <a href="">descripcion</a>
                  {% else %}
                      {{ inm.descripcion}}
                  {% endif %}
              </p>
          </div>
            <div class="card-footer">
              <a href="{% url 'inmueble-detail' inm.id %}">detalle del inmueble</a>
            </div>
          </div>
        </div>
      {% endfor %}  
    </div>
  </section>
     <h2>Solicitudes Recibidas</h2>
     <section class="container mx-auto pt-5">
         <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
             {% for solicitud in solicitudes_recibidas %}
             <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                     <div class="card-header">{{solicitud.estado}}</div>
                     <div class="card-body">
                         <h5 class="card-title">{{ solicitud }}</h5>
                         <p>{{solicitud.mensaje}}</p>
                         {% if solicitud.estado != 'aceptado' %}
                             <form method="post" action="{% url 'cambiar_estado_solicitud' solicitud.id %}">
                                 {% csrf_token %}
                                 <select name="nuevo_estado">
                                     <option value="pendiente">Pendiente</option>
                                     <option value="aceptado">Aceptado</option>
                                     <option value="rechazado">Rechazado</option>
                                 </select>
                                 <button type="submit">Cambiar Estado</button>
                             </form>
                         {% endif %}
                     </div>
                 </div>
             {% endfor %}
         </div>
     </section>
  {% endif %}
{% endblock %}