{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}
{% load static %}
{% block content %}
<head>
    <title>editar inmueble por Arrendador</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-container {
         margin-top: auto;
         margin-left: 24%;
         margin-right: 24%;
         margin-bottom: 30px; 
   
       }
       .borde {
         border: 1px solid black; /* Borde sólido negro */
         box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* Sombra difusa con desvanecimiento */
         padding: 20px; /* Ajusta el relleno según sea necesario */
       }
       h2 {
         text-align: right;
         margin-top: 20px;
       }
       form {
         margin-bottom: 100px; /* Ajusta el valor según sea necesario */
      }
     </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="custom-container borde">
            <h2 class="text-center mb-4">Editar Inmueble</h2> 
            <div class="borde">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nombre">Nombre:</label>
                    <input type="text" name="nombre" id="id_nombre" class="form-control" value="{{ form.nombre.value|default_if_none:'' }}">
                    {% if form.nombre.errors %}
                    <div class="error">
                        {% for error in form.nombre.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_direccion">Dirección:</label>
                    <input type="text" name="direccion" id="id_direccion" class="form-control" value="{{ form.direccion.value|default_if_none:'' }}">
                    {% if form.direccion.errors %}
                    <div class="error">
                        {% for error in form.direccion.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_descripcion">Descripción:</label>
                    <textarea name="descripcion" id="id_descripcion" class="form-control">{{ form.descripcion.value|default_if_none:'' }}</textarea>
                    {% if form.descripcion.errors %}
                    <div class="error">
                        {% for error in form.descripcion.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_imagen">Imagen:</label>
                    <input type="file" name="imagen" id="id_imagen" class="form-control">
                    {% if form.imagen.errors %}
                    <div class="error">
                        {% for error in form.imagen.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_precio">Precio:</label>
                    <input type="number" name="precio" id="id_precio" class="form-control" value="{{ form.precio.value|default_if_none:'' }}">
                    {% if form.precio.errors %}
                    <div class="error">
                        {% for error in form.precio.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_region">Región:</label>
                    <select name="region" id="id_region" class="form-control" required>
                    {% for region in regiones %}
                    <option value="{{ region.id }}">{{ region.nombre }}</option>
                    {% endfor %}
                    </select>
                   
                    <div class="text-danger">{{ form.region.errors }}</div>
                </div>
                <div class="form-group">
                    <label for="id_comuna">Comuna:</label>
                    <select name="comuna" id="id_comuna" class="form-control" required>
                    {% for comuna in comunas %}
                    <option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
                    {% endfor %}
                    </select>
                  
                    <div class="text-danger">{{ form.comuna.errors }}</div>
                </div>
        
                <div class="form-group">
                    <label for="id_disponible">Disponible:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="checkbox" name="disponible" id="id_disponible" class="form-check-input" {% if form.disponible.value %}checked{% endif %}>
                    {% if form.disponible.errors %}
                        <div class="error">
                            {% for error in form.disponible.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_m2_construidos">Metros Cuadrados Construidos:</label>
                    <input type="number" step="0.01" name="m2_construidos" id="id_m2_construidos" class="form-control" value="{{ form.m2_construidos.value|default_if_none:'' }}">
                    {% if form.m2_construidos.errors %}
                    <div class="error">
                        {% for error in form.m2_construidos.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_m2_terreno">Metros Cuadrados Terreno:</label>
                    <input type="number" step="0.01" name="m2_terreno" id="id_m2_terreno" class="form-control" value="{{ form.m2_terreno.value|default_if_none:'' }}">
                    {% if form.m2_terreno.errors %}
                    <div class="error">
                        {% for error in form.m2_terreno.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_cantidad_estacionamientos">Cantidad de Estacionamientos:</label>
                    <input type="number" name="cantidad_estacionamientos" id="id_cantidad_estacionamientos" class="form-control" value="{{ form.cantidad_estacionamientos.value|default_if_none:'' }}">
                    {% if form.cantidad_estacionamientos.errors %}
                    <div class="error">
                        {% for error in form.cantidad_estacionamientos.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_cantidad_habitaciones">Cantidad de Habitaciones:</label>
                    <input type="number" name="cantidad_habitaciones" id="id_cantidad_habitaciones" class="form-control" value="{{ form.cantidad_habitaciones.value|default_if_none:'' }}">
                    {% if form.cantidad_habitaciones.errors %}
                    <div class="error">
                        {% for error in form.cantidad_habitaciones.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="id_cantidad_banos">Cantidad de Baños:</label>
                    <input type="number" name="cantidad_banos" id="id_cantidad_banos" class="form-control" value="{{ form.cantidad_banos.value|default_if_none:'' }}">
                    {% if form.cantidad_banos.errors %}
                    <div class="error">
                        {% for error in form.cantidad_banos.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}  
                </div>
                <div class="form-group">                   
                    <label for="id_tipo_de_inmueble">Tipo de inmueble:</label>              
                    <select name="tipo_de_inmueble" id="id_tipo_de_inmueble" class="form-select" aria-label="Default select example" required>
                    <option value="casa" {% if form.tipo_de_inmueble.value == "casa" %}selected{% endif %}>Casa</option>
                    <option value="departamento" {% if form.tipo_de_inmueble.value == "departamento" %}selected{% endif %}>Departamento</option>
                    <option value="parcela" {% if form.tipo_de_inmueble.value == "parcela" %}selected{% endif %}>Parcela</option>
                    </select>
                    <div class="text-danger">{{ form.tipo_de_inmueble.errors }}</div>
                </div>
                <div class="form-group">
                    <label>Propietario:  {{ user.username }}</label>            
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>  
            </div>
        </div>
    </div> 
</body>
{% endblock %}