{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<head>
    <title>Alta de inmueble por Arrendador</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .custom-container {
        margin-left: 30%;
        margin-right: 30%;
      }
      h2{
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h2>Alta de Inmueble</h2>
    <div class="container">
        <div class="custom-container bg-blank text-black text-center py-5">
          <h1>{% if object %}Editar Usuario{% else %}Nuevo Inmueble{% endif %}</h1>
          <div>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </div>
          <form method="post" style="max-width:1280px"  enctype="multipart/form-data">
            {% csrf_token %}    
            <div class="form-floating mb-3">                
                <input type="text" name="nombre" required maxlength="50"  class="form-control" id="id_nombre" placeholder="Nombre:" value={{ form.nombre.value | default_if_none:''}}>               
                <label for="id_nombre">Nombre:</label>  
                <div class="text-danger">
                  {{form.nombre.error}}
                </div>             
            </div>
            <div class="form-floating mb-3">             
                <input type="text" name="direccion" maxlength="50" class="form-control" required id="id_direccion" placeholder="Ingrese dirección:" value={{ form.direccion.value | default_if_none:''}}>
                <label for="id_direccion">Direccion:</label>
                <div class="text-danger">
                  {{form.direccion.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">              
                <input type="text" name="descripcion" maxlength="50" class="form-control" required id="id_descripcion" placeholder="Ingrese descripción:" value={{ form.descripcion.value | default_if_none:''}}>
                <label for="id_descripcion">Descripcion:</label>
                <div class="text-danger">
                  {{form.descripcion.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">           
                <input type="file" name="imagen" accept="image/*" maxlength="50" class="form-control" required id="id_imagen" placeholder="Ingrese imagen:" value={{ form.imagen.value | default_if_none:''}}>
                <label for="id_imagen">Imagen:</label>
                <div class="text-danger">
                  {{form.imagen.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">               
                <input type="number" name="precio"  step="1" maxlength="50" class="form-control" required id="id_precio" placeholder="Ingrese precio:" value={{ form.precio.value | default_if_none:''}}>
                
                <div class="text-danger">
                  {{form.precio.error}}
                </div> 
                <label for="id_precio">Precio:</label>
            </div>
            <div class="form-floating mb-3">              
                <select name="comuna" required id="id_comuna"  class="form-control">                    
                </select> 
                <label for="id_comuna">Comuna:</label>
                <div class="text-danger">
                  {{form.comuna.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">              
                <input type="checkbox" name="disponible" id="id_disponible" checked=""  class="form-control">  
                <label for="id_disponible">Disponible:</label>
                <div class="text-danger">
                  {{form.disponible.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">              
                <input type="number" name="m2_construidos" step="0.01" required="" id="id_m2_construidos"  class="form-control">  
                <label for="id_m2_construidos">M&nbsp;<sup>2</sup>&nbsp;construidos:</label> 
                <div class="text-danger">
                  {{form.m2_construidos.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">               
                <input type="number" name="m2_terreno" step="0.01" required="" id="id_m2_terreno"  class="form-control">   
                <label for="id_m2_terreno">M&nbsp;<sup>2</sup>&nbsp;terreno:</label>  
                <div class="text-danger">
                  {{form.m2_construidos.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">               
                <input type="number" name="cantidad_estacionamientos" min="0" max="9223372036854775807" required="" id="id_cantidad_estacionamientos"  class="form-control">      
                <label for="id_cantidad_estacionamientos">Cantidad estacionamientos:</label>
                <div class="text-danger">
                  {{form.cantidad_estacionamientos.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">               
                <input type="number" name="cantidad_habitaciones" min="0" max="9223372036854775807" required="" id="id_cantidad_habitaciones"  class="form-control">    
                <label for="id_cantidad_habitaciones">Cantidad habitaciones:</label>
                <div class="text-danger">
                  {{form.cantidad_habitaciones.error}}
                </div> 
            </div>
            <div class="form-floating mb-3">                
                <input type="number" name="cantidad_banos" min="0" max="9223372036854775807" required="" id="id_cantidad_banos"  class="form-control">   
                <div class="text-danger">
                  {{form.cantidad_habitaciones.error}}
                </div> 
                <label for="id_cantidad_banos">Cantidad de baños:</label>
            </div>
            <div class="form-floating mb-3">               
                <select name="tipo_de_inmueble" id="id_tipo_de_inmueble"  class="form-select"  aria-label="Default select example" required>                  
                    <option value="casa">Casa</option>
                    <option value="departamento">Departamento</option>
                    <option value="parcela">Parcela</option>                             
                </select>  
                <label for="id_tipo_de_inmueble">Tipo de inmueble:</label>
                <div class="text-danger">
                  {{form.cantidad_habitaciones.error}}
                </div> 
            </div>
        </form>
        </div>
        <button type="submit">Guardar</button>
    </div>  

{% endblock %}
